<% include ../partials/header %>

<div class="container">
<div class="row">
<div class="text-center">
    
    <h1>Edit comment</h1>
</div>


<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST" style="width: 30%; margin: 30px auto">
    
    
    <div class="form-group">
    <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
    </div>
    
     <div class="form-group">
    <button class="btn btn-primary btn-lg btn-block">Edit</button>
     </div>

    
</form>



</div>
</div>

<% include ../partials/footer %>